body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
background-size: cover;
    text-align: center;
    background: url(road-amidst-bare-trees-327308.jpg);
}
.todo {
    margin: 0 80px ;

}
.dltbtn {
background-color: red;
color: #fff;
border-radius: 0 10px 0 10px ;
width: 100px;
height: 30px;
cursor: pointer;
}
.edtbtn {
    background-color: blue;
    color: #fff;
    border-radius: 0 10px 0 10px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    }
    .addbtn {
        background-color: green;
        color: #fff;
        border-radius: 0 10px 0 10px ;
        width: 100px;
        height: 30px;
        cursor: pointer;
        }
li {
    color: #fff;
    font-size: 24px;

margin: 0 10px;    
list-style: decimal-leading-zero;
}
button {
    margin: 5px;
}
#todo {
    font-size: 24px;
    width: 70%;
    height: 30px;
}